.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  min-height: 100vh;
}
.app__header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #dedede;
  padding: 10px 20px;
}
.app__headerImage {
  object-fit: contain;
  background-color: white;
}

.app__signup {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
